$color-principal: #a85a5a;
$color-secundario: grey;
$fuente-titulos: "Arial", sans-serif;
$fuente-parrafos: "Tahoma", sans-serif;
$tamano-titulos: 28px;
$tamano-parrafos: 16px;
$margin-titulos: 20px;
$interlineado-parrafos: 1.3;
$padding-seccion:40px 0;

$redes: (
    tw:#55acee,
    fb: #3a5795,
    ig: coral,
    em: orange,);