@import "variables.scss";
@import"_placeholder.scss";
@import "_mixin.scss";
@import "_fotos.scss";
@import "_footer.scss";
@import "_reset.scss";

.body{
	color: black;
}
.tarjeta {
	display: flex;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	height: 300px;
	width: 900px;
	margin: 50px;
	transition: 1s;
	p {
		color: #000000;
		font-family: 'Courier New', Courier, monospace;
		width: 80%;
		text-align: left;
		font-weight: 400;
		line-height: 1.6;
		font-size: large;
	}
	h5 {
		color: black;
		text-align: center;
	}
	&:hover {
		box-shadow: 10px 8px 16px 10px rgba(0,0,0,0.2);
		border-radius: 50px;
		transition: 0.6s;
	}
}
.tarjeta-help {
	display: flex;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	height: 600px;
	width: 700px;
	margin: 40px;
	transition: 1s;
}
.container {
	padding: 60px;
}
img {
	width: 250px;
	height: 300px;
	border-radius: 10px 0px 0px 10px;
}

